section {
    padding: 80px 0;
}

.fv {
    background-image: url("../../public/img/FV.png");
    background-size: cover;
}

.fv-img {
    width: 100vw;
    margin-right: calc(50% - 100vw);
}

.bg-blue {
    background-color: #668bed;
}

.text-blue {
    color: #668bed;
}

.text-navy {
    color: #061663;
}

.wide-triangle {
    width: 100vw;
    border-left: 50vw solid #668bed;
    border-right: 50vw solid #668bed;
    border-top: 70px solid #f9fafb;
}

.ellipse {
    position: absolute;
    width: 1200px;
    height: 700px;
    background: #ebf5ff;
    border-radius: 50%;
    top: 20px;
    left: -20px;
    z-index: -10;
}

.feature-box {
    border-bottom: 5px solid #668bed;
}

.feature-lead {
    padding: 0.5rem 1.5rem;
    border-left: 4px solid #061663;
}

.feature-explain-right {
    width: 50vw;
    margin-right: calc(50% - 50vw);
}

.feature-explain-left {
    width: 50vw;
    margin-left: calc(50% - 50vw);
}

.cta {
    box-shadow: 5px 5px 0 #668bed;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #668bed;
}

@media (max-width: 768px) {
    section {
        padding: 40px 0;
    }

    .fv-img {
        margin-left: 20vw;
    }

    .wide-triangle {
        border-top: 40px solid #f9fafb;
    }

    .feature-explain-right {
        width: auto;
        margin-right: calc(50% - 50vw);
    }

    .feature-explain-left {
        width: auto;
        margin-left: calc(50% - 50vw);
    }

    .triangle {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #668bed;
    }
}

.pointer-none {
    pointer-events: none;
}
