body {
  background-color: rgb(226 232 240);
}
.cards {
height: calc( 100vh - 215px );;
}
@media screen and (max-width: 1024px) {
  .side_nav {
    display: none;
  }
  .container {
    padding-left: 0;
  }
}